 <!--Main layout-->
<script>
    var s = document.createElement('script');
    // s.src = 'https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/mc-validate.js';
    // s.async = false;

    document.addEventListener("DOMContentLoaded", function () {
        var body = document.body;
        body.appendChild(s);
        s.async = false;
        s.src = 'https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/mc-validate.js';

        // cusom script
        (function ($) {
            window.fnames = new Array();
            window.ftypes = new Array();
            fnames[0] = 'EMAIL';
            ftypes[0] = 'email';
            fnames[1] = 'FNAME';
            ftypes[1] = 'text';
            fnames[2] = 'LNAME';
            ftypes[2] = 'text';
        }(jQuery));
        var $mcj = jQuery;
    });
</script>

<!-- Compiled JS -->
@*<script type="text/javascript">
        var xlwcty_info = [];</script>
    <link rel='stylesheet' id='woocommerce-currency-switcher-css' href='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/css/front.css?ver=2.3.1' type='text/css' media='all' />
    <script type='text/javascript' id='contact-form-7-js-extra'>
        /* <![CDATA[ */
        var wpcf7 = { "apiSettings": { "root": "https:\/\/mdbootstrap.com\/wp-json\/contact-form-7\/v1", "namespace": "contact-form-7\/v1" }, "cached": "1" };
        /* ]]> */
    </script>
    <script type='text/javascript' id='woocommerce-js-extra'>
        /* <![CDATA[ */
        var woocommerce_params = { "ajax_url": "\/wp-admin\/admin-ajax.php", "wc_ajax_url": "\/?wc-ajax=%%endpoint%%" };
        /* ]]> */
    </script>
    <script type='text/javascript' id='ajax-auth-script-js-extra'>
        /* <![CDATA[ */
        var ajax_auth_object = { "ajaxurl": "https:\/\/mdbootstrap.com\/wp-admin\/admin-ajax.php", "redirecturl": "https:\/\/mdbootstrap.com", "loadingmessage": "Sending user info, please wait...", "auth_page_categories": [] };
        /* ]]> */
    </script>*@
@*<script type='text/javascript' id='example-ajax-script-js-extra'>
        /* <![CDATA[ */
        var example_ajax_obj = { "ajaxurl": "https:\/\/mdbootstrap.com\/wp-admin\/admin-ajax.php" };
        /* ]]> */
    </script>*@
<script type='text/javascript' id='dynamic-parts-loader-js-extra'>
    /* <![CDATA[ */
    var dynamic_parts_loader = { "wp_ajaxurl": "https:\/\/mdbootstrap.com\/wp-admin\/admin-ajax.php", "page_id": "0", "current_site_lang": "en", "dpl_page_categories": [], "load_new_mdb_bundle": "" };
        /* ]]> */
</script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-admin/load-scripts.php?c=gzip&amp;load%5Bchunk_0%5D=hoverintent-js,admin-bar,wp-embed,jquery-ui-core,jquery-ui-widget,jquery-ui-mouse,jquery-ui-slider&amp;ver=5.5.3'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/bundles/4.19.1/compiled.0.min.js?ver=4.19.1' id='mdb-js2-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/footer-functions.js?ver=4.19.1-update.8' id='footer-functions-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/contact-form-7/includes/js/scripts.js?ver=5.3' id='contact-form-7-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/jquery-blockui/jquery.blockUI.min.js?ver=2.70' id='jquery-blockui-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/js-cookie/js.cookie.min.js?ver=2.1.4' id='js-cookie-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/frontend/woocommerce.min.js?ver=4.6.1' id='woocommerce-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/mdb3/jquery.validate.js?ver=1.0.0' id='validate-script-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/ajax-auth-script.js?ver=4.19.1-update.6' id='ajax-auth-script-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/pricing-modal.js?ver=4.19.1-update.2' id='pricing-modal-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/pages-rates.js?ver=4.19.1-update.1' id='example-ajax-script-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/themes/mdbootstrap4/js/dynamic-parts-loader.js?ver=4.19.1-update.17' id='dynamic-parts-loader-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce/assets/js/jquery-ui-touch-punch/jquery-ui-touch-punch.min.js?ver=4.6.1' id='wc-jquery-ui-touchpunch-js'></script>
@*<script type='text/javascript' id='wc-price-slider_33-js-before'>
        var woocs_is_mobile = 0;
        var woocs_special_ajax_mode = 0;
        var woocs_drop_down_view = "ddslick";
        var woocs_current_currency = { "name": "EUR", "rate": 1, "symbol": "&euro;", "position": "left_space", "is_etalon": 0, "hide_cents": 1, "hide_on_front": 0, "rate_plus": 0, "decimals": 0, "description": "European Euro", "flag": "https:\/\/mdbootstrap.com\/wp-content\/plugins\/woocommerce-currency-switcher\/img\/no_flag.png" };
        var woocs_default_currency = { "name": "USD", "rate": 1, "symbol": "&#36;", "position": "left", "is_etalon": 1, "hide_cents": 1, "hide_on_front": 0, "rate_plus": 0, "decimals": 0, "description": "USA dollar", "flag": "https:\/\/mdbootstrap.com\/wp-content\/plugins\/woocommerce-currency-switcher\/img\/no_flag.png" };
        var woocs_array_of_get = '{}';

        woocs_array_no_cents = '["JPY","TWD"]';

        var woocs_ajaxurl = "https://mdbootstrap.com/wp-admin/admin-ajax.php";
        var woocs_lang_loading = "loading";
        var woocs_shop_is_cached = 1;
    </script>*@
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/js/price-slider_33.js?ver=2.3.1' id='wc-price-slider_33-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/js/jquery.ddslick.min.js?ver=2.3.1' id='jquery.ddslick.min-js'></script>
<script type='text/javascript' src='https://mdbootstrap.com/wp-content/plugins/woocommerce-currency-switcher/js/front.js?ver=2.3.1' id='woocommerce-currency-switcher-js'></script>
<!-- /.GDPR Adjust -->
@*<script>
        (function ($) {

            $(document).ready(function () {
                if (document.cookie.indexOf("gdpr_mandatory=") == -1) {
                    $('#gdpr_basic').modal({
                        backdrop: false
                    });
                }
            });

            $('#gdpr_btn_full_agree').click(function (e) {
                e.preventDefault();
                var date = new Date();
                date = new Date(date.getTime() + 1000 * 60 * 60 * 24 * 365);
                document.cookie = "gdpr_mandatory=1; expires=" + date.toGMTString() + "; path=/";
                document.cookie = "gdpr_functional=1; expires=" + date.toGMTString() + "; path=/";
                document.cookie = "gdpr_ga=1; expires=" + date.toGMTString() + "; path=/";
                document.cookie = "gdpr_fbp=1; expires=" + date.toGMTString() + "; path=/";
                $('#gdpr_basic').modal('hide');
            });

            $('#gdpr_btn_adjust').click(function (e) {
                e.preventDefault();
                $('#gdpr_basic').modal('hide');
                $('#gdpr_adjust').modal();
            });

            $('#gdpr_btn_save').click(function (e) {
                e.preventDefault();
                $('#gdpr_adjust_form').submit();
            });

            $('#gdpr_adjust_form').on('submit', function (e) {
                e.preventDefault();

                $(this).find('input[type="checkbox"]')
                    .each(function (e) {
                        var fieldName = $(this).attr('name');
                        var fieldValue = $(this).is(':checked') ? 1 : 0;
                        var date = new Date();
                        date = new Date(date.getTime() + 1000 * 60 * 60 * 24 * 365);
                        document.cookie = fieldName + "=" + fieldValue + "; expires=" + date.toGMTString() + "; path=/;";
                    })

                toastr["info"]("Saved");
                $('#gdpr_adjust').modal('hide');

            });
        })(jQuery);
    </script>

    <div class='xlwcty_header_passed' style='display: none;'></div>

    <script>
    </script>*@



@*<script>
        $(document).ready(function () {
            $(".button-collapse").sideNav();
            var el = document.querySelector('.custom-scrollbar');
            var ps = new PerfectScrollbar(el);
        });
    </script>*@
