@*<nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">*@
    @*<nav class="navbar fixed-top navbar-expand-sm navbar-toggleable-sm navbar-light bg-white double-nav scrolling-navbar">*@
    @*<nav class="navbar navbar-expand-sm  navbar-toggleable-sm navbar-light fixed-top  navbar-dark info-color lighten-1 border-bottom box-shadow mb-1">*@
<nav class="navbar navbar-expand-sm navbar-expand-md navbar-light bg-white border-bottom box-shadow double-nav  mb-3">
    <div class="container">
        <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">Aprajita Retails</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
           <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Stores" asp-controller="Stores" asp-action="Index">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
