
<header>

    <!-- Sidebar navigation -->
    <div id="slide-out" class="side-nav sn-bg-4 mdb-sidenav fixed">
        <ul class="custom-scrollbar list-unstyled" style="max-height:100vh; padding-bottom:90px; position:relative;">
            <li class=" d-block waves-effect">
                @*logo-sn*@
                <div class="text-center">
                    <img id="AR-logo" src="~/img/AprajitaRetails03.png" alt="AR Logo">
                    @*<a class="pl-0" href="/"></a>*@
                </div>
            </li>
            <!--/. Logo -->
            <!-- Side navigation links -->
            <li >
                <ul id="side-menu" class="collapsible collapsible-accordion">
                    <li id="menu-item-118678" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-118678"><a class="collapsible-header waves-effect" id="link-menu-item-118678" href=""><i class="far fa-gem"></i>Employee</a></li>
                    <li id="menu-item-88068" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-88068"><a class="collapsible-header waves-effect" id="link-menu-item-88068" href=""><i class="fas fa-gem"></i> Sale</a></li>
                    <li id="menu-item-88068" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-88068"><a class="collapsible-header waves-effect" id="link-menu-item-88068" href=""><i class="fas fa-gem"></i> Products</a></li>
                    <li id="menu-item-59439" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-ancestor current-menu-parent menu-item-has-children  menu-item-59439">
                        <a class="collapsible-header waves-effect arrow-r active"><i class="fas fa-download"></i>Getting Started<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body" style="display: block;">
                            <ul class="sub-menu">
                                <li id="menu-item-59452" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home  menu-item-59452"><a class="collapsible-header waves-effect" id="link-menu-item-59452" href="/">Home page</a></li>
                                <li id="menu-item-81400" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-81400"><a class="collapsible-header waves-effect" id="link-menu-item-81400" href="/docs/jquery/">About Us</a></li>
                                <li id="menu-item-59452" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-home  menu-item-59452"><a class="collapsible-header waves-effect" id="link-menu-item-59452" href="https://mdbootstrap.com/">Home page</a></li>
                                <li id="menu-item-81400" class="menu-item menu-item-type-post_type menu-item-object-page current-menu-item page_item page-item-81208 current_page_item  menu-item-81400"><a class="collapsible-header waves-effect" id="link-menu-item-81400" href="https://mdbootstrap.com/docs/jquery/">About MDB</a></li>

                                <li id="menu-item-44015" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44015"><a class="collapsible-header waves-effect" id="link-menu-item-44015" href="/docs/jquery/getting-started/download/">Download</a></li>
                                <li id="menu-item-59453" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59453"><a class="collapsible-header waves-effect" id="link-menu-item-59453" href="/education/bootstrap/quick-start/">Quick start</a></li>
                                <li id="menu-item-102460" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-102460"><a class="collapsible-header waves-effect" id="link-menu-item-102460" href="/docs/jquery/getting-started/installation-guide/">Installation guide</a></li>
                                <li id="menu-item-111193" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-111193"><a class="collapsible-header waves-effect" id="link-menu-item-111193" href="/docs/jquery/getting-started/styles-customization/">Styles customization</a></li>
                                <li id="menu-item-81524" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-81524"><a class="collapsible-header waves-effect" id="link-menu-item-81524" href="/docs/react/">MDB React</a></li>
                                <li id="menu-item-81525" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-81525"><a class="collapsible-header waves-effect" id="link-menu-item-81525" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="menu-item-43620" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-43620">
                        <a class="collapsible-header waves-effect arrow-r "><i class="fas  fa-th-large"></i>Layout<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="sub-menu">
                                <li id="menu-item-44240" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44240"><a class="collapsible-header waves-effect" id="link-menu-item-44240" href="/docs/jquery/layout/overview/">Layout overview</a></li>
                                <li id="menu-item-44241" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44241"><a class="collapsible-header waves-effect" id="link-menu-item-44241" href="/docs/jquery/layout/grid-usage/">Grid usage</a></li>
                                <li id="menu-item-44242" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44242"><a class="collapsible-header waves-effect" id="link-menu-item-44242" href="/docs/jquery/layout/grid-examples/">Grid examples</a></li>
                                <li id="menu-item-44243" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44243"><a class="collapsible-header waves-effect" id="link-menu-item-44243" href="/docs/jquery/layout/media-object/">Media object</a></li>
                                <li id="menu-item-59009" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59009"><a class="collapsible-header waves-effect" id="link-menu-item-59009" href="/docs/jquery/layout/media-queries/">Media queries</a></li>
                                <li id="menu-item-44245" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44245"><a class="collapsible-header waves-effect" id="link-menu-item-44245" href="/docs/jquery/layout/utilities/">Utilities for layout</a></li>
                                <li id="menu-item-84711" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-84711"><a class="collapsible-header waves-effect" id="link-menu-item-84711" href="/docs/jquery/layout/bootstrap-masonry/">Masonry</a></li>
                            </ul>
                        </div>
                    </li>
                   
                    <li id="menu-item-59025" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-59025">
                        <a class="collapsible-header waves-effect arrow-r "><i class="fas  fa-edit"></i> Forms<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="sub-menu">
                                <li id="menu-item-44070" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44070"><a class="collapsible-header waves-effect" id="link-menu-item-44070" href="/docs/jquery/forms/basic/">Basic examples</a></li>
                                <li id="menu-item-59034" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59034"><a class="collapsible-header waves-effect" id="link-menu-item-59034" href="/docs/jquery/forms/autocomplete/">Autocomplete</a></li>
                                <li id="menu-item-80290" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-80290"><a class="collapsible-header waves-effect" id="link-menu-item-80290" href="/docs/jquery/forms/builder/">Builder</a></li>
                                <li id="menu-item-59026" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59026"><a class="collapsible-header waves-effect" id="link-menu-item-59026" href="/docs/jquery/forms/checkbox/">Checkbox</a></li>
                                <li id="menu-item-59027" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59027"><a class="collapsible-header waves-effect" id="link-menu-item-59027" href="/docs/jquery/forms/contact/">Contact form</a></li>
                                <li id="menu-item-61615" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-61615"><a class="collapsible-header waves-effect" id="link-menu-item-61615" href="/docs/jquery/forms/customization/">Customization</a></li>
                                <li id="menu-item-118072" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-118072"><a class="collapsible-header waves-effect" id="link-menu-item-118072" href="/docs/jquery/forms/date-picker/">Date Picker</a></li>
                                <li id="menu-item-80923" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-80923"><a class="collapsible-header waves-effect" id="link-menu-item-80923" href="/plugins/jquery/file-upload/">Drag and drop</a></li>
                                <li id="menu-item-59028" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59028"><a class="collapsible-header waves-effect" id="link-menu-item-59028" href="/docs/jquery/forms/file-input/">File Input</a></li>
                                <li id="menu-item-116970" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-116970"><a class="collapsible-header waves-effect" id="link-menu-item-116970" href="/docs/jquery/forms/time-picker/">Time Picker</a></li>
                                <li id="menu-item-59924" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59924"><a class="collapsible-header waves-effect" id="link-menu-item-59924" href="/docs/jquery/forms/validation/">Validation</a></li>
                            </ul>
                        </div>
                    </li>
    
                    <li id="menu-item-91745" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-91745"><a class="collapsible-header waves-effect" id="link-menu-item-91745" href="/docs/jquery/design-blocks/"><i class="fas fa-th"></i>Design Blocks</a></li>
                    <li id="menu-item-43629" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-43629">
                        <a class="collapsible-header waves-effect arrow-r "><i class="fas fa-book"></i>Tutorials<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="sub-menu">
                                <li id="menu-item-83951" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-83951"><a class="collapsible-header waves-effect" id="link-menu-item-83951" href="/education/">Basics</a></li>
                                <li id="menu-item-59434" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-59434"><a class="collapsible-header waves-effect" id="link-menu-item-59434" href="/education/bootstrap/">Bootstrap</a></li>
                                <li id="menu-item-89947" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-89947"><a class="collapsible-header waves-effect" id="link-menu-item-89947" href="/education/jquery/">jQuery</a></li>
                                <li id="menu-item-52581" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-52581"><a class="collapsible-header waves-effect" id="link-menu-item-52581" href="/education/angular/">Angular</a></li>
                                <li id="menu-item-85129" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-85129"><a class="collapsible-header waves-effect" id="link-menu-item-85129" href="/education/react/">React</a></li>
                                <li id="menu-item-85130" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-85130"><a class="collapsible-header waves-effect" id="link-menu-item-85130" href="/education/vue/">Vue</a></li>
                                <li id="menu-item-77182" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-77182"><a class="collapsible-header waves-effect" id="link-menu-item-77182" href="/education/wordpress/">WordPress</a></li>
                                <li id="menu-item-85131" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-85131"><a class="collapsible-header waves-effect" id="link-menu-item-85131" href="/articles/">Miscellaneous</a></li>
                            </ul>
                        </div>
                    </li>
                    <li id="menu-item-77919" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-77919"><a class="collapsible-header waves-effect" id="link-menu-item-77919" href="/plugins/jquery/"><i class="fas fa-plus-square"></i>Plugins &#038; Addons</a></li>
                    <li id="menu-item-118651" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-118651"><a class="collapsible-header waves-effect" id="link-menu-item-118651" href="/templates/"><i class="fas fa-image"></i>Free templates</a></li>
                    <li id="menu-item-118703" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-118703"><a class="collapsible-header waves-effect" id="link-menu-item-118703" href="/expert-kits/"><i class="fas fa-certificate"></i> Expert Kits <span class="ml-1 badge badge-warning">New</span></a></li>
                    <li id="menu-item-43632" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children  menu-item-43632">
                        <a class="collapsible-header waves-effect arrow-r "><i class="fas fa-puzzle-piece"></i>Tools &#038; Resources<i class="fa fa-angle-down rotate-icon"></i></a>
                        <div class="collapsible-body">
                            <ul class="sub-menu">
                                <li id="menu-item-85135" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-85135"><a class="collapsible-header waves-effect" id="link-menu-item-85135" href="/support/">Support</a></li>
                                <li id="menu-item-80425" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-80425"><a class="collapsible-header waves-effect" id="link-menu-item-80425" href="/snippets/">Editor &#038; snippets</a></li>
                                <li id="menu-item-91757" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-91757"><a class="collapsible-header waves-effect" id="link-menu-item-91757" href="/builder/">Drag &#038; drop builder</a></li>
                                <li id="menu-item-83072" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-83072"><a class="collapsible-header waves-effect" id="link-menu-item-83072" href="/articles/">Articles</a></li>
                                <li id="menu-item-80426" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-80426"><a class="collapsible-header waves-effect" id="link-menu-item-80426" href="/publications/">Publications &#038; reports</a></li>
                                <li id="menu-item-44018" class="menu-item menu-item-type-post_type menu-item-object-page  menu-item-44018"><a class="collapsible-header waves-effect" id="link-menu-item-44018" href="/material-design-logo-generator/">Logo generator</a></li>
                                <li id="menu-item-85133" class="menu-item menu-item-type-custom menu-item-object-custom  menu-item-85133"><a class="collapsible-header waves-effect" id="link-menu-item-85133" href="/news/frontend/">Frontend news</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </li>
            <!-- /. Side navigation links -->
        </ul>
        <div class="sidenav-bg mask-strong"></div>
    </div>
    <!--/. Sidebar navigation -->
    <!--/.SideNav-->

    <div id="dpl-auth-modal"></div>

    <!-- Navbar-->
    <nav class="navbar fixed-top navbar-expand-md navbar-light white double-nav scrolling-navbar">
        <!-- SideNav slide-out button -->
        <!--AprajitaRetails-->
        <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
            <partial name="_LoginPartial" />
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="Stores" asp-controller="Stores" asp-action="Index">Stores</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                </li>
            </ul>
        </div>
        <!--AprajitaRetails-->
        <div class="float-left">
            <a href="#" data-activates="slide-out" class="button-collapse"><i class="fas fa-bars"></i><span class="sr-only" aria-hidden="true">Toggle side navigation</span></a>
        </div>
        <!-- Navbar links-->
        <div class="mr-auto pl-2">
            <span class="d-none d-md-inline-block">

                <!--jQuery-->
                <!--DC content-->
                <div id='dpl-gtm-jq'></div>
                <!--/DC content-->
            </span>
        </div>

        <!--Navigation icons-->
        <span id="dpl-navbar-right-buttons">
            <ul id="dpl-navbar-right-buttons-tmp" class="nav navbar-nav nav-flex-icons ml-auto">
                <li class="nav-item d-none d-xl-inline-block">
                    <a href="/general/contact/" class="nav-link waves-effect">
                        <i class="fas fa-envelope"></i><span class="sr-only">Contact us</span>
                    </a>
                </li>
                <li class="nav-item d-none d-xl-inline-block">
                    <a href="/services/" class="nav-link waves-effect">
                        <i class="fas fa-question-circle"></i><span class="d-none d-xl-inline-block ml-1">Support</span>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbar-tools" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-wrench"></i><span class="d-none d-xl-inline-block ml-1">Tools</span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbar-tools">
                        <a class="dropdown-item d-xl-none" href="/services/">Support Forum</a>
                        <a class="dropdown-item" href="/snippets/">Editor & Snippets</a>
                        <a class="dropdown-item" href="/articles/">Articles</a>
                        <a class="dropdown-item" href="/news/frontend/">News</a>
                        <a class="dropdown-item" href="/cli/">MDB CLI <span class="badge badge-danger rounded">New</span></a>
                    </div>
                </li>
                <a class="text-info align-self-center ml-2 auth-modal-toggle" data-auth-modal-tab="sign-in">Sign In</a>
                <a class="btn btn-info btn-rounded btn-sm waves-effect waves-light auth-modal-toggle" data-auth-modal-tab="sign-up">SIGN UP</a>
            </ul>
        </span>
    </nav>
    <!-- /.Navbar-->
</header>